@model Product
@{
    ViewData["Title"] = "Bestelpagina";
}

@section style {
    <link rel="stylesheet" href="~/css/bestel.css" />
}
<h1>Bestelling plaatsen</h1>
<p>Hieronder ziet u alle details van uw bestelling. Controleer deze goed, daarna kunt u betalen via banano.</p>

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <img class="img" src="@Model.Fotolos" />
    <h3>€@Model.Prijs</h3>
    <form>
        <legend> Kies uw Maat </legend>
        <label> Maat: </label>
        <h3> class="maat" src=@
    </form>
</div>

<p>U kunt hieronder betalen door middel van Banano. Scan de onderstaande QR code. </p>
<img class="banano" src=~/img/banaan.jpg/>

<a class="button" href="/bestel/@Model.Id">Terug</a>
