@model Maattabel

@{
    ViewData["Title"] = "Bestelpagina";
}

@section style {
    <link rel="stylesheet" href="~/css/bestel.css" />
}
<h1>Bestelling plaatsen</h1>
<p>Hieronder ziet u alle details van uw bestelling. Controleer deze goed, daarna kunt u betalen via banano.</p>

<div class="text-center">
    <img class="img" src="@Model.Fotolos" />
    <h3>€@Model.Prijs</h3>
    <form>
        <legend> Kies uw Maat </legend>
        <label> Maat: </label>
        <select>
            <option>@Model.Maats </option> 
            <option>@Model.Maatm </option> 
            <option>@Model.Maatl </option> 
        </select>
    </form>
</div>
<a class="button" href="/betalen/">Afrekenen</a>
<a class="button" href="/overzicht">Terug naar alle producten</a>
