@model Product
@{
    ViewData["Title"] = "Bestelpagina";
}

@section style {
    <link rel="stylesheet" href="~/css/bestel.css" />
}
<h1>Bestelling</h1> 

<div class="text-center">
    <h1 class="display-4">@Model.Name</h1>
    <img class="img" src="@Model.Fotolos" />
    <h3>€@Model.Prijs</h3>
</div>

<a class="button" href="/aankoop/@Model.Id">Bestelling plaatsen</a>
