
<p>U kunt hieronder betalen door middel van Banano. Scan de onderstaande QR code. </p>
<img class="banano" src=~/img/banaan.jpg/>



<p>Wilt u verder winkelen? Klik dan hier! :)</p>
<a class="button" href="/overzicht">Verder winkelen</a>


