<link rel="stylesheet" href="~/css/betalen.css" />

<h2>U kunt hieronder betalen door middel van Banano. Scan de onderstaande QR code. </h2>
<img class="banano" src=~/img/banaan.jpg/>



<h3>Wilt u verder winkelen? Klik dan hier! :)</h3>
<a class="button" href="/overzicht">Verder winkelen</a>


