@model List<Product>
@{
    ViewData["Title"] = "Contact";
}

@section style {
    <link rel="stylesheet" href="~/css/site.css" />
}

<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
        <h1>Contact</h1>
        <hr>

        <label for="naam"><b>Naam:</b></label>
        <input type="text" placeholder="Uw naam..." name="naam" required>

        <label for="email"><b>Emailadres:</b></label>
        <input type="text" placeholder="Uw emailadres..." name="email" required>

        <label for="vraag"><b>Vraag:</b></label>
        <input type="text" placeholder="Uw vraag..." name="vraag" required>


        <div class="clearfix">
            <button type="submit" class="contactbtn">Versturen</button>
        </div>
    </div>
</form>
