@{
    ViewData["Title"] = "404 Error";
}

<div class="error-content">
    <h1 class="titel">@ViewData["Title"]</h1>

    <div class="blok">
        <h2 id="random"></h2>

        <p>Er is iets fout gegaan.  <a class="link" href="/">Klik hier om terug te gaan naar de home pagina</a></p>
        <img src="/img/le-sad.gif" alt="bummer" width:50% />
    </div>
    
</div>