@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

@section style {
    <link rel="stylesheet" href="~/css/site.css" />
    
}

<head>
    <script type="text/javascript" src='~/js/site.js'></script>
</head>
<body>
    <!-- gebruik gemaakt van cookies uit w3s --> 
    <script>checkCookie()</script>
</body>


<div class="text-center" >
<h1 class="display-4" > Home</h1 >
<h2>Bekijk hieronder onze Best Sellers van deze maand!</h2>

<div class="producten">
@foreach(Product p in Model) {
    <a href="/detail/@p.Id" class="product"> 
        <img class="img" src="@p.Voorkant" /> 
        
    </a>
}
</div>
</div>
