@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Home!</h1>


    @foreach(Product p in Model)
    {
        <div class="product">
            <img src="@p.Image" />
            <p>@p.Name</p>            
        </div>
    }

</div>
