@model List<Product>
@{
    ViewData["Title"] = "Home Page";
}

@section style {
    <link rel="stylesheet" href="~/css/site.css" />
}




<div class="text-center" >
<h1 class="display-4" > Homepage</h1 >

<div class="producten">
@foreach(Product p in Model) {
    <a href="/detail/@p.Id" class="product"> 
        <img class="img" src="@p.Voorkant" /> 
        <p>@p.Name</p> 
    </a>
}
</div>
</div>
