@model List<Product>
@{
    ViewData["Title"] = "Overzicht";
}

@section style {
    <link rel="stylesheet" href="~/css/overzicht.css" />
}

<div class="text-center">
    <h1 class="display-4">Producten</h1>

</div>

<div class="producten">
        @foreach(Product p in Model)
    {
        <a href="/detail/@p.Id" class="product">
            <img class="img" src="@p.Voorkant" />
                        
        </a>
    }
</div>