@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>

<form action="action_page.php" style="border:1px solid #ccc">
    <div class="container">
        <h1>Sign Up</h1>
        <p>Gelieve dit formulier in te vullen:</p>
        <hr>

        <label for="email"><b>Email:</b></label>
        <input type="text" placeholder="Uw email..." name="email" required>

        <label for="psw"><b>Wachtwoord:</b></label>
        <input type="password" placeholder="Uw wachtwoord..." name="psw" required>

        <label for="psw-repeat"><b>Herhaal wachtwoord:</b></label>
        <input type="password" placeholder="Herhaal uw wachtwoord..." name="psw-repeat" required>


        <div class="clearfix">
            <button type="submit" class="signupbtn">Sign Up</button>
        </div>
    </div>
</form>