@section style {
    <link rel="stylesheet" href="~/css/succes.css" />
    
}
<h1>Het versturen van uw klachten en/of complimenten is gelukt!!!</h1>
<h2>We gaan zo snel mogelijk aan de slag met uw opmerkingen, hopelijk kunt u nu vooral lekker door shoppen!</h2>

<img src="/img/succes.gif" alt="Thanks" style="width:50%"/>