<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Viva Clothing</title>
    <link rel="icon" type="image/x-icon" href="/img/fav.png" />
    <link rel="stylesheet" href="~/css/site.css" />
    @RenderSection("style", false)
</head>

<body>
    <header>
        <nav>
            <a href="/">Home</a>
            <a href="/overzicht">Producten</a>
            <a href="/signup">Sign up</a>
            <a href="/contact">Contact</a>

        </nav>
    </header>

    <main>
        @RenderBody()
    </main>


    <footer>Footer</footer>

 
</body>
</html>
